<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title HW13-BEM
    body
        table
            tr.row1
                td.col1
                    h2.first-section-name Buttons Big
                td.col2
            tr.row2
                td.col1 
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                td.col2
                    include ./tripple-btn/tripple-btn.pug
            tr.row3
                td.col1
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                td.col2
                    include ./double-btn/double-btn.pug
            tr.row4
                td.col1
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                td.col2
                    include ./tripple-btn/tripple-btn.pug
            tr.row5
                td.col1
                    h2.second-section-name Buttons Small
                td.col2
            tr.row6
                td.col1
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                td.col2
                    include ./double-btn/double-btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
            tr.row7
                td.col1
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                td.col2
                    include ./tripple-btn/tripple-btn.pug
            tr.row8
                td.col1
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                td.col2
                    include ./tripple-btn/tripple-btn.pug
            tr.row9
                td.col1
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                td.col2
            tr.row10
                td.col1
                    include ./btn/btn.pug
                    include ./btn/btn.pug
                td.col2