.tripple-btn_big-img-btn {
    width: 56px;
    height: 48px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.tripple-btn_big-img-btn > svg {
    width: 24px;
    height: 24px;
}