.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(55px*4);
    margin: 20px 0 50px 20px;
}

.block {
    width: 50px;
    height: 50px;
    background-color: gray;
    margin-right: 5px;
    margin-bottom: 5px;
}

.block:nth-child(n+21) {
    background-color: blue;
}

.block:nth-child(4n-1) {
    background-color: red;
}

button {
    width: 501px;
    height: 92px;
    background: #44D3A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.button::before {
    content: " ";
    display: inline-block;
    width: 200px;
    height: 15px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    margin-right: 45px;
    margin-left: 45px;
}

.button::after {
    content: " ";
    display: inline-block;
    width: 200px;
    height: 15px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    margin-right: 45px;
    margin-left: 45px;
}