.tripple-btn_small-img-btn {
    width: 48px;
    height: 36px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.tripple-btn_small-img-btn > svg {
    width: 20px;
    height: 20px;
}