.btn_tag-close-btn {
    width: 65px;
    height: 28px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
}

.btn_tag-close-btn > svg {
    width: 16px;
    height: 16px;
}